@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap');

@media(min-device-width: 426px){
  .main-body-ham{
    display: none;
  }
}

.main-body-ham{
  position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 30px;
}

.name-hum {
  font-weight: bold;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  align-items: center;
  color: white;
}

.ham-top{
  height: 8vh;
  background: #ce6809;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}

.fa-custom{
  font-size: 5vw;
  color: white;
}
.ham-bottom{
  height: 20vh;
  background-color: #e68f3f;
  /* opacity: 0.8; */
}
.link{
  font-size: 3rem;
  line-height: 5rem;
  color: white;
  font-weight: 600;
}
.link:hover{
  font-size: 3.5rem;
}
.item{
  list-style-type: none;
  text-decoration: none;
}
.link:hover{
  color: white;
}
ul li a {
  text-decoration: none;
}
