@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap");
.about-body {
  width: 100%;
  height: 100vh;
}
.image {
  display: none;
}
.name {
  display: inline-flex;
  margin-top: 12%;
  padding-left: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 0.4rem;
  font-family: "Koulen", cursive;
}
.title {
  padding-left: 10px;
  color: rgb(206, 104, 9);
}
.address {
  padding-left: 40px;
  font-weight: 300;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.main {
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 50px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(99, 96, 96);
}
.social {
  margin-top: 40px;
  padding-left: 40px;
  display: flex;
  /* background-color: red; */
  gap: 2rem;
}
.social a {
  /* padding-right: 20px; */
  text-decoration: none;
}
.fa-envelope {
  background-color: white;
  color: rgb(83, 81, 81);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  /* color: red; */
}
.fa-linkedin {
  background-color: white;
  color: rgb(83, 81, 81);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-github {
  background-color: white;
  color: rgb(83, 81, 81);
  border-radius: 50%;
}
.fa-brands:hover {
  color: rgb(223, 97, 29);
}
.fa-solid:hover {
  color: rgb(223, 97, 29);
}
.button {
  margin-left: 40px;
  margin-top: 20px;
}
.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(119, 114, 114);
  border: none;
}
.btn:hover {
  /* color: rgb(223, 97, 29); */
  background-color: rgb(223, 97, 29);
}
.btn:active {
  background-color: rgb(223, 97, 29);
}

@media (max-device-width: 576px) {
  .about-body {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    /* align-items: center; */
    /* background-color: green; */
  }
  .image {
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
    cursor: pointer;
  }
  .image img {
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    background-size: contain;
    /* position: relative; */
    border: 8px solid rgba(199, 196, 196, 0.5);
    background-clip: padding-box;
  }

  .name {
    /* margin-top: 15vh; */
    display: flex;
    justify-content: center;
    font-size: 110px;
    margin-top: 0;
  }
  .address {
    font-size: 2rem;
    color: rgb(80, 78, 78);
  }
  .main {
    font-size: 1.8rem;
    color: black;
    display: none;
  }
  .btn {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .social a {
    font-size: 2rem;
  }
}
