*{
    margin: 0;
    padding: 0;
}
.right-main{
    display: flex;
    flex-direction: column ;
    height: 100%;
    margin-left: 20%;
}
 @media(max-device-width: 576px){
    .right-main{
        margin-left: 0;
        z-index: 1;
        /* background-color: green; */
    }
} 

