@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.left_main{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 126, 67);
    position: fixed;
}
.image_holder{
    /* background-color: red; */
    /* border-radius: 50%; */
    width: 35vh;
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;  
    cursor: pointer;

}
.image_holder img{
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
    background-size: contain;
    /* position: relative; */
    border: 8px solid rgba(199, 196, 196, 0.5);
    background-clip: padding-box; 
}
@media(max-device-width: 992px){
    
    .image_holder{
        width: 23vh;
        height: 23vh;
        left: 22px;
        background-color: white;
    }
} 
@media(max-device-width: 768px){
    
    .image_holder{
        width: 19vh;
        height: 19vh;
        left: 20px;
        background-color: blue;
    }
} 
@media(max-device-width: 576px){

    /* .image_holder{
           width: 13vh;
           height: 13vh; 
           left: 25px;
           background-color: red;        
        } */
    .left_main{
        display: none;
        background-color: brown;

    }
}
.navbar-nav{
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 4vh;
    font-size: 1.4rem;
}
.nav-link{
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 211, 211);
}
.nav-link:hover{
    color: white;
}
.nav-link:active{
    color: white;
}



